.project-list {
    margin: 0;
    background-image: url('../../../public/images/York.jpg');
}

.project-list h1 {
    font-size: 2rem;
    padding: 20px;
    padding-bottom: 40px;
    margin: 0;
    color: #FDFCDC;
}




