#about h2 {
  margin-top: 0;
}

#about > p {
  font-size: 1.5rem;
  font-weight: lighter;
}

#experience {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 1rem;
}

#experience ul {
  margin-top: 0;
  margin-left: 1rem;
  list-style: disc;
}

#experience ul > li {
  margin-bottom: 0.5rem;
}

#experience img {
  border: none;
}

.role {
  background-color: var(--font-color);
  border-radius: 8px;
  border: none;
}

.role > * {
  color: var(--background);
  padding: 1rem;
}

.title {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.title > * {
  margin: 0;
}
