#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  position: relative;
}

/* Put text into exact center of the page */
#intro > div {
  margin-top: calc(25vh + 6rem);
}

#intro h1 {
  margin: 0;
  font-size: 6rem;
  text-transform: lowercase;
  font-weight: 800;
  background: linear-gradient(#59f8e8 0%, #ffffff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.click-me {
  position: fixed;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--link-color);
  font-size: 1.5rem;
  text-transform: lowercase;
  justify-content: center;
}

.hidden {
  display: none;
}
