Colors {
    --primary: #0081A7;
    --secondary: #00AFB9;
    --tertiary: #FDFCDC;
    --quaternary: #FED9B7;
    --quinary: #F07167;
}

html, body {
    background-color: #FDFCDC;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    color: #323232;
    max-width: 900px;
    margin: 0 auto;
}


