@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap");
:root {
  --background: #03191e;
  --font: "Open Sans", "Arial", system-ui, sans-serif;
  --font-color: #ffffff;
  --link-color: #59f8e8;
  --font-size: 18px;
  --top-margin: 60px;
}

body,
html {
  height: 100vh;
  max-width: 900px;
  margin: 0 auto;
  background-color: var(--background);
  font-family: var(--font);
  font-size: var(--font-size);
  line-height: 1.5;
  color: var(--font-color);
}

section {
  margin: var(--margin-top) 0;
  padding-bottom: 2rem;
}

/* gradient font from link-color to font-color */
.gradient {
  background: linear-gradient(
    90deg,
    var(--link-color) 0%,
    var(--font-color) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

h2 {
  font-size: 3rem;
  margin-bottom: 0;
}

h3 {
  font-size: 1.5rem;
  margin-top: 0;
  font-weight: lighter;
}

.button {
  color: var(--font-color);
  background-color: var(--background);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0.75rem;
  margin: 1rem;
  border: 1px solid var(--link-color);
  border-radius: 8px;
}

.button:hover {
  color: var(--link-color);
}
